/*------------------------------------*\
    PLAYER CONTAINER (nht-player__container)
\*------------------------------------*/

.nht-player__container {
	width: 92%;
	max-width: 1098px;
	margin: 0 auto;
	height: 100%;
}

/*------------------------------------*\
    NHT PLAYER (nht-player)
\*------------------------------------*/

.nht-player__loading {
	width: 100%;
	height: 100vh;
	z-index: 699;
	background: var(--nht-color-ultra-light);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.6;
}

.nht-player__loading[loading="true"] {
	transform: translate3d(0, 0, 0);
}

.nht-player__loading[loading="false"] {
	transform: translate3d(0, 100%, 0);
}

.nht-player {
	height: 90px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	background: #000;
    z-index: 899;

    /* NHT Player CSS Custom Properties */
	--nht-color-dark: #000;
	--nht-color-mid: #444;
	--nht-color-light: rgb(240, 240, 240);
	--nht-color-ultra-light: #fff;
    --nht-color-mid-light: rgb(124, 124, 124);

    -webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
    font-family: 'Libre Franklin';
}

.nht-player[active="true"] {
	transform: translate3d(0, 0, 0);
	opacity: 1;
	transition: transform 0.2s ease;
	-webkit-transition: transform 0.2s ease;
	-moz-transition: transform 0.2s ease;
	-o-transition: transform 0.2s ease;


}

.nht-player[active="false"] {
	transform: translate3d(0, 90px, 0);
	opacity: 0;
	transition: transform 0.2s ease;
	-webkit-transition: transform 0.2s ease;
	-moz-transition: transform 0.2s ease;
	-o-transition: transform 0.2s ease;
}

.nht-player button {
	background: none;
	border: none;
	color: var(--nht-color-light);
}

.nht-player button:focus {
	background: none;
	border: none;
    color: var(--nht-color-light);
    outline: none;
}

.nht-player__grid {
	width: 100%;
	height: 100%;
	display: grid;
	grid-gap: 8px;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: min-content min-content auto 100px min-content min-content;
	grid-template-areas: "controls artwork title title volume expand"
											 "controls artwork seekbar timecode volume expand";
}

.nht-player__controls {
	grid-area: controls;
	width: auto;
	display: inline-flex;
	align-items: center;
}

.nht-player__play-button {
	font-size: 24px;
}

button.nht-player__seek-backward {
	color: var(--nht-color-mid-light);
}

button.nht-player__seek-forward {
	color: var(--nht-color-mid-light);
}

.nht-player__artwork {
	grid-area: artwork;
	width: 20vw;
	max-width: 80px;
	padding: 16px 8px 16px 8px;
	display: inline-flex;
	justify-content: center;
}

.nht-player__artwork img {
	height: 100%;
	width: auto;
	background: rgb(0, 0, 0);
}

.nht-player__title {
	grid-area: title;
	overflow: hidden;
	display: flex;
	position: relative;
	flex-wrap: nowrap;
	align-items: flex-end;
	width: auto;
    color: var(--nht-color-light);
}

a.nht-player__title--main {
	cursor: pointer;
	display: inline-block;
	white-space: nowrap;
    color: var(--nht-color-ultra-light);
}

a.nht-player__title--main:hover {
    text-decoration: underline;
}

.nht-player__title--producer:before {
    content: '- ';
}

.nht-player__title--producer {
	margin-left: 5px;
	display: inline-block;
	white-space: nowrap;
    color: var(--nht-color-mid);
}

.nht-player__seekbar {
 grid-area: seekbar;
 display: inline-flex;
 align-items: center;
 position: relative;
 padding-bottom: 20px;
}

.nht-player__duration {
	position: absolute;
	height: 4px;
	background-color: var(--nht-color-mid);
	width: 100%;
	border-radius: 2px;
	z-index: 199;
}

.nht-player__loaded {
	position: absolute;
	height: 4px;
	background-color: var(--nht-color-mid-light);
	width: 80%;
	border-radius: 2px;
	z-index: 299;
}

.nht-player__played {
	position: absolute;
	height: 4px;
	background-color: var(--nht-color-ultra-light);
	width: 0%;
	border-radius: 2px;
	z-index: 399;
}

.nht-player__seekbar:hover .nht-player__playhead {
	height: 14px;
	width: 14px;
}

.nht-player__playhead {
	position: absolute;
	height: 12px;
	width: 12px;
	background-color: var(--nht-color-ultra-light);
	border-radius: 50%;
	left: 0%;
	z-index: 499;
}

.nht-player__time-code {
	grid-area: timecode;
	color: var(--nht-color-light);
	display: inline-flex;
	align-items: center;
	min-width: 120px;
	padding-bottom: 20px;
	padding-left: 8px;
}

.nht-player__volume-control {
	grid-area: volume;
	display: inline-flex;
	align-items: center;
}

.nht-player__expand {
	grid-area: expand;
	display: inline-flex;
	align-items: center;
}

.nht-player__sharing-menu {
	display: none;
}

.nht-player__open-menu {
	display: none;
}

.nht-player__audio {
	display: none;
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

/* Desktop breakpoint */
@media all and (max-width: 1024px) { 

} 

/* Tablet breakpoint */
@media all and (max-width: 839px) { 
	.nht-player__loading {
		display: none;
	}

	.nht-player__grid {
		grid-template-rows: 1fr 1fr;
		width: 100%;
		grid-template-columns: min-content min-content auto 100px min-content;
		grid-template-areas: "controls artwork title title expand"
							"controls artwork seekbar timecode expand";
	}

	.nht-player__volume-control {
		display: none;
	}
} 

/* Phone breakpoint */
@media all and (max-width: 480px) { 
	.nht-player__grid {
		grid-template-rows: 1fr 1fr;
		grid-template-columns: min-content auto min-content;
		grid-template-areas: "controls title expand"
							"controls timecode expand";
	}

	.nht-player__time-code{
		padding-left: 0;
		color: var(--nht-color-mid);
	}

	.nht-player__artwork {
		display: none;
	}

	.nht-player__seekbar {
		display: none;
	}

	.nht-player__seek-forward {
		/* display: none; */
	}

	.nht-player__seek-backward {
		/* display: none; */
	}

	.nht-player__title--main {
		white-space: nowrap;
		animation: marquee 20s infinite linear;
	}

	.nht-player__title--producer {
		display: none;
	}
}

/*------------------------------------*\
    ANIMATION
\*------------------------------------*/

@keyframes marquee {
	0% {
	  transform: translate3d(100%, 0, 0);
	}

	35% {
		transform: translate3d(0, 0, 0);
	}

	65% {
		transform: translate3d(0, 0, 0);
	}

	100% {
	  transform: translate3d(-100%, 0, 0);
	}
  }